html {
  --light-gray: #f4f4f4;
  --main-gray: #a6caf1;
  --neutral-cream: #f0e3dc;
  --small-margin: 6px;
}

div,
p,
h1,
h2,
body,
span {
  font-family: 'Afacad Flux', serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

h1 {
  text-align: center;
  padding: 16px;
}

header {
  border-bottom: 1px solid var(--light-gray);
}

.main-grey {
  background-color: #a6caf1;
}

#app {
  width: 100vw;
  height: 100vh;
}

.app-wrapper {
  border: 1px solid var(--light-gray);
  display: flex;
  flex-direction: column;
  margin: var(--small-margin);
  height: calc(100% - 2 * var(--small-margin));
}

.main-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.canvas-wrapper {
  flex-grow: 1;
  background-color: #fff;
  position: relative;
}

.color-panel {
  width: 100%;
  height: 40px;
  border-top: 1px solid var(--light-gray);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.colors {
  display: flex;
  flex-direction: row;
}

input {
  appearance: none;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.color-title {
  width: 50px;
  border-right: 1px solid var(--light-gray);
}

.colors > div {
  width: 40px;
  height: 100%;
  border-left: 1px solid var(--light-gray);
  border-right: 1px solid var(--light-gray);
  margin-left: var(--small-margin);
}

.tool-panel {
  width: 50px;
  border-right: 1px solid var(--light-gray);
}

.tool-wrapper {
  border-top: 1px solid var(--light-gray);
  border-bottom: 1px solid var(--light-gray);
  width: 100%;
  height: 30px;
  margin-top: var(--small-margin);
  position: relative;
}

.tool-wrapper > input {
  position: absolute;
}

.tool-buttons svg {
  width: 100%;
  height: 100%;
}
